.cartContainer {
    color: black;
    width: 60%;
    margin: 20px auto;
    height: 100%;
    margin-top: 50px;
    text-align: center;
    background: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px;
}

.checkoutBtn {
    display: block;
    margin: 25px auto;
    height: 35px;
    width: max-content;
    border: none;
    border-radius: 20px;
    background: #3e4be4;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: ease-out 0.1s;
}

.checkoutBtn:hover {
    transform: scale(1.05);
}

.checkoutBtn:focus {
    border: none;
    outline: none;
}

.link {
    color: white;
    text-transform: none;
    text-decoration: none;
}

@media (max-width: 500px){
    .cartContainer{
        width: 90vw;
        height: 100%;
        max-width: 300px;
    }

    h2{
        margin: 10px;
    }
}

