.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 40px;
    width: 100%;
    color: white;
    background: #222222;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header h3{
    margin: 0;
    width: max-content;
}

.cart {
    display: inline-flex;
    align-items: center;
    width: 70px;
    height: 100%;
    padding-left: 10px;
    border-left: 2px solid white;
}

.cart:hover {
    border-color: #6d6e6e;
    background: #6d6e6e;
    border-bottom: 2px solid;
}
  